body{
    background: #cccccc;
    
    }
    #maquiagem{
        width: 4px; 
    }
}

p{
    text-align: center;
}
em strong{
    color:#ff0000;
}

.itens {
    font-style: italic;

    h2 {
        text-align:center ;
    }

}